  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="Access-Control-Allow-Origin" content="https://homestuck.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="網路漫畫Homestuck的非官方繁中翻譯">
    <meta name="theme-color" content="#ffffff">
    <title>Homestuck繁體中文翻譯 - {{ include.title }}</title>
    <!-- imports -->
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/Viz_AC_RunActiveContent.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </head>