<!DOCTYPE html>
{% include head.html title=page.title %}
  <body class="scratch">
    <div class="header">
      <span>
        <a id="tooltipimg" rel="" title="" style="display: block;">
          <div id="s_header">
          </div>
        </a>
      </span>{% include navbar.html theme="scratch" %}
    </div>
    <div class="content">
      <div class="content-inner">
        <div class="page">
          <div class="pagehead">
            {{page.title}}
          </div>
          <div class="pagebody">
            {{page.content | remove: '<p>' | remove: '</p>'}}
          </div>
          <div class="pagefoot">
            {% if page.next.url %}
              <span style="float: left;">&gt;&nbsp;</span><a id="newer-page-link" href=".{{ page.next.url }}"> {{ page.next.title }}</a>
            {% endif %}
            <div id="pagefooter-option">
              {% if page.previous.url %}
                <a id="older-page-link" class="blog-pager-older-link" href=".{{ page.previous.url }}">上一頁</a>
              {% endif %}
                |
                <a id="official-link" href="#">官方原文</a>
            </div>
          </div>
        </div>
        {% include contributer.html %}
      </div>
      <div class="footer-bannerframe">
        <div>
          HOMESTUCK TRADITIONAL CHINESE TRANSLATION
        </div>
      </div>
    </div>
  </body>
</html>
