<!DOCTYPE html>
{% include head.html title=page.title %}
  <body class="x2combo">
    <div id="header" class="header">
      <div id="x2combo-header"></div>
{% include navbar.html %}
    </div>
    <div id="content" class="content">
      <div id="content-inner" class="content-inner">
        <table>
          <tr>
            <td id="x2combo1" class="x2combo-td">
              <div class="page">
                <div class="pagehead">
                  {{page.title}}
                </div>
                <div class="pagebody">
                  {{page.content | remove: '<p>' | remove: '</p>'}}
                </div>
                <div class="pagefoot">
                    <span style="float: left;">&gt;&nbsp;</span><a id="x2-right-link" href="#x2combo2">==> <span id="x2np">==><span></a>
                </div>
              </div>
            </td>
            <td class="x2combo-middle-padding"></td>
            <td id="x2combo2" class="x2combo-td">
              <div class="page">
                <div class="pagehead">
                  {{page.next.title}}
                </div>
                <div class="pagebody">
                  {{page.next.content | remove: '<p>' | remove: '</p>'}}
                </div>
                <div class="pagefoot">
                  {% if page.next.next.url %}
                    <span style="float: left;">&gt;&nbsp;</span><a id="newer-page-link" href=".{{page.next.next.url}}"> {{page.next.next.title}}</a>
                  {% endif %}
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div id="pagefooter-option">
          {% if page.previous.previous.url %}
            <a id="older-page-link" href=".{{page.previous.previous.url}}">上一頁</a>
          {% endif %}
          |
            <a id="official-link" href="#">官方原文</a>
        </div>
      </div>
      {% include contributer.html %}
      <div id="footer-bannerframe" class="footer-bannerframe">
        <div>
          HOMESTUCK TRADITIONAL CHINESE TRANSLATION
        </div>
      </div>
    </div>
  </body>
</html>
